<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_ProductUnitsAndQuantities
 */
-->
<!--
  ~ Copyright © 2019 Aitoc. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Aitoc_ProductUnitsAndQuantities" setup_version="1.2.1">
        <sequence>
            <module name="Aitoc_Core" />
            <module name="Magento_Catalog" />
            <module name="Magento_CatalogInventory" />
            <module name="Magento_Wishlist" />
        </sequence>
    </module>
</config>
