<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_ProductUnitsAndQuantities
 */
-->
<!--
  ~ Copyright © 2019 Aitoc. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer
                name="productunitsandquantities_checkout_onepage_controller_success_action"
                instance="Aitoc\ProductUnitsAndQuantities\Observer\CheckoutOnepageControllerSuccessActionObserver"
        />
    </event>
</config>
