<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="ibnab_offline_payment_banktransfer_config_provider" xsi:type="object">Ibnab\BankInfo\Model\BanktransferConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\OfflinePayments\Block\Form\Banktransfer" type="Ibnab\BankInfo\Block\Form\Banktransfer"/>
    <preference for="Magento\OfflinePayments\Model\Banktransfer" type="Ibnab\BankInfo\Model\Banktransfer"/>
</config>
